/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

@media (min-width: 1024px) {
  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
} */

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color:gainsboro ;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: gray;
}